StatefulSet:
  Replicas: 3
Image:
  Name: redis
  Tag: 7.2.3
  PullPolicy: IfNotPresent
Networking:
  Port: 6379
ConfigFile:
  ConfigName: redis.conf
  MountPath: /redis.conf
Resources:
  Limits:
    Memory: 128Mi
  Requests:
    Storage: 128Mi
