StatefulSet:
  Replicas: 2
Image:
  Name: ceco.com/cecochat/messaging
  Tag: 0.1
  PullPolicy: IfNotPresent
Networking:
  Port: 443
  IdGenService: idgen
Messaging:
  RefreshIdsCount: 1024
Ingress:
  Host: messaging.cecochat.com
  SecretName: ingress-tls
  ReadTimeout: 300 # 5 mins
  SendTimeout: 300 # 5 mins
Probes:
  Scheme: HTTPS
Entrypoint:
  ConfigName: entrypoint.sh
  MountPath: /bin/entrypoint.sh
