Deployment:
  Replicas: 2
Image:
  Name: ceco.com/cecochat/config
  Tag: 0.1
  PullPolicy: IfNotPresent
Networking:
  Port: 443
  ConfigDb:
    Host: yb-tserver
    Service: yb-tserver
    Port: 5433
    Root:
      User: yugabyte
      Pass: yugabyte
    Normal:
      User: cecochat_dev
      Pass: secret
Ingress:
  Host: config.cecochat.com
  SecretName: ingress-tls
Probes:
  Scheme: HTTPS
